@import '../../../styles/_colors';
@import "../../../styles/_variables";

.featuredWork {
  background: url('/images/featured-work/featured-work-bg-top.gif') top repeat-x,
    url('/images/featured-work/featured-work-bg-bottom.gif') bottom repeat-x, $tahuna-sands;
}

.item {
  width: 350px;
  height: 350px;
}

.img {
  border-radius: 50%;
  border: solid 0.4rem $white;
  box-shadow: 0.1rem 0.1rem 0.6rem $gray;

  &:hover {
    border-color: $secondary-color;
  }
}
