// http://chir.ag/projects/name-that-color/#26478D
$mine-shaft: #303030;
$gray: #888888;
$alto: #d3d3d3;
$white: #fff;
$mercury: #e6e6e6;
$gallery: #ececec;
$silver: #c7c7c7;

$conifer: #b5d443;
$christi: #73990b;
$tahuna-sands: #e6f0c3;
$everglade: #213d30;

$picton-blue: #45c1f4;
$boston-blue: #3192bf;

$blue-ribbon: #0e50f7;

$alizarin-crimson: #e31b23;
$radical-red: #f92f4a;
$cinnabar: #e44d26;
$gold: #fcd207;
$iron: #cbcfd3;
