@import 'variables';
@import 'mixins';

@layer base {
  html {
    font-family: $font-family-varela;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include palatinoFont();
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

ol,
p,
ul {
  margin: 0 0 2.5rem;
}

.twitter,
.safari,
.css3 {
  color: $picton-blue;
}

.internetExplorer,
.linkedIn {
  color: $boston-blue;
}

.bitBucket {
  color: $blue-ribbon;
}

.opera {
  color: $radical-red;
}

.firefox,
.html5 {
  color: $cinnabar;
}

.chrome,
.js {
  color: $gold;
}

.android {
  color: $secondary-color;
}

.apple {
  color: $iron;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-tertiary {
  color: $tertiary-color;
}
