@import "variables";

@layer base {
  html {
    font-family: $font-family-varela;
  }
}

.twitter,
.safari,
.css3 {
  color: $picton-blue;
}

.internetExplorer,
.linkedIn {
  color: $boston-blue;
}

.bitbucket {
  color: $blue-ribbon;
}

.opera {
  color: $radical-red;
}

.firefox,
.html5 {
  color: $cinnabar;
}

.chrome,
.js {
  color: $gold;
}

.android {
  color: $secondary-color;
}

.apple {
  color: $iron;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-tertiary {
  color: $tertiary-color;
}
