@import "colors";

$font-family-palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-varela: "varela", Garuda, sans-serif;
$primary-color: $mine-shaft;
$secondary-color: $conifer;
$tertiary-color: $christi;
